<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">
	<persistence-unit name="esportePersistenceUnit"
		transaction-type="RESOURCE_LOCAL">
		<class>com.esporte.model.user.User</class>
		<class>com.esporte.model.user.Email</class>
		<class>com.esporte.model.user.PhoneNumber</class>
		<class>com.esporte.model.user.PhoneDetails</class>
		<class>com.esporte.model.user.UserTest</class>
	</persistence-unit>
	
</persistence>